In [1]:
a = 12,12,12,14,15,13,45,565

In [2]:
a

(12, 12, 12, 14, 15, 13, 45, 565)

In [ ]:
Write a Python program to sum of two given integers. However, if the sum is
between 15 to 20 it will return 20.
how to solve this sir

In [10]:
a = int(input("fisrt Number::"))
b = int(input("seconf number::"))
c = a+b
if c >= 15 and c<=20:
    print("20")
else:
    print("number is grether than 20")

fisrt Number::8
seconf number::7
20

In [18]:
def is_20(a,b):
    sum = a+b
    if sum >= 15 and sum<=20:
        return 20
    else:
        return 'out'

In [19]:
is_20(10,12)

'out'

In [26]:
def sum(a,b):

In [27]:
sum(10,10)

sum

In [ ]:
list = []

In [12]:

s_list=['Andhra Pradesh',
'Arunachal Pradesh',
'Assam',
'Bihar',
'Chhattisgarh'
,'Goa',
'Gujarat',
'Haryana',
'Himachal Pradesh',
'Jharkhand',
'Karnataka',
'Kerala',
'Madhya Pradesh',
'Maharashtra',
'Manipur',
'Meghalaya',
'Mizoram',
'Nagaland',
'Odisha',
'Punjab',
'Rajasthan',
'Sikkim',
'Tamil Nadu',
'Telangana',
'Tripura',
'Uttarakhand',
'Uttar Pradesh',
'WestBengal']
def is_state(s):
    if s in s_list:
        return True
    else:
        return False

In [13]:
s = input("enter the state name::")
if is_state(s)==True:
    print("State availabe in Given list")
else:
    print("please check input")

enter the state name::Haryana
State availabe in Given list

In [2]:
sq_list = [ x * x for x in range(10)]

In [3]:
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
def sqr_lst(n):
    s_list = []
    for i in range(1,n+1):
        s_list.append(i*i)
        
        
    print(s_list)

In [76]:
sqr_lst(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
n = int(input("number::"))
def sqr_lst(n):
    for i in range(1,n+1):
        
        s_list.append(i)

number::20

In [28]:
list1 = []
for i in range(1,n+1):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
def r_list(list1):
    r1_list = []
    for i in (list1,1,-1):
        print(i)

In [33]:
r_list(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
-1

In [4]:
r_l=[]
for i in list1:
    r_l.append(i)
print(r_l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
re_list = list1[::-1]

In [6]:
re_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
rev_lst = list1.reverse()

In [10]:
print(rev_lst)

None

In [ ]:
list1 = []
n = int(input("numberr::"))
def 
for i in range(1,n+1):
    list1.append(i)

print(list1)

In [22]:
list2 = []
for i in list1:
    
    list2.insert(0,i)
print(list2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

def 
revr_list= []
for i in range(11):
    
    revr_list.insert(0,i)
print(revr_list)

In [24]:
num = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
num = [1,2,3,4,5,6,7,8,['apple','drgn','pineapple'],9,10]

In [34]:
fruits = ('banana','org','apple','drgn','pineapple','wtermelon')

In [31]:
def rever_list(num):
    n_list = []
    for i in num:
        n_list.insert(0,i)
        
    print(n_list)

In [35]:
rever_list(fruits)

['wtermelon', 'pineapple', 'drgn', 'apple', 'org', 'banana']

In [ ]:
#extend function
num = [1,2,3,4,5,6,7,8,9,10]
fruits = ['apple','drgn','pineapple']

def extend2(fruits):
    for i in fruits:
        num.append(i)
    return num

In [ ]:
print(extend2(fruits))

In [ ]:
list3 = [6,7,8,9,10]
list4 = ['banana','org','apple','drgn']
list3.extend2(list4)

In [52]:
print(list3.extend2(list4))

AttributeError: 'list' object has no attribute 'extend2'

In [ ]:
need two arrgument in function

In [65]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

In [66]:
def extend2(list1,list2):
    for i in list2:
        list1.append(i)
    return list1

In [67]:
print(extend2(list2,list1))

[5, 6, 7, 8, 1, 2, 3, 4]

In [ ]:
#copy list comprehsion