In [ ]:
# #Comment..
# single line comments with help of #...
#Comments are used to help the readbility of code...

In [ ]:
print("Sunny")

In [ ]:
print("Sunny Dongare")

In [ ]:
print("python is case sensitive language")

In [ ]:
#Declare variable..
# variable is reference of object
s = 'store variable'
print(s)

In [ ]:
#Data types already define by programmer...
print()
#print function apply on only defined variable..

In [ ]:
#we can't define variable with space.. and specail character

In [ ]:
print(-7)  #int  datatype

In [ ]:
print(0.22) #float

In [ ]:
print('sunny',94,0.43,False,a+7j)

In [ ]:
#line by line execution in python..
print()

In [ ]:
#parameter
seperatr , end ,file , flush..

In [ ]:
print("sunny" , end = '-')
print("Dongare")

In [ ]:
#flush---  time intervalll

In [ ]:
#variable 28/12/2022

In [ ]:
dynamic variable..(python)

In [ ]:
#variable is case sensitive
a = 10
A = 10

In [ ]:
variable name = alpha

In [2]:
#multivariable
a,b,c = 1,2,3
print(b)

2

In [3]:
_ = 6
print(_)

6

In [4]:
a= ob1011  #literals..

NameError: name 'ob1011' is not defined

In [ ]:
Data types..

In [ ]:
Boolean
int,
float,
complex,
None..

In [ ]:
#string slicing

In [ ]:
a = 'sanjeetkumar' #consider as an array..

In [ ]:
#string method
s = 'AAAtaj'
s.capitalize()
s.casefold()
s.center(11)  #'  AAAtaj  ' , '   AAAtaj  '
s.replace(s,'sunil')

In [ ]:
#Arthmetic operation

In [6]:
p = [45,234,535,45,45,45,4,54,45,45,"python",'java','python']

In [13]:
len(p)

13

In [12]:
print(p.index(45,6,12))

8

In [ ]:
p[4:-1]

In [ ]:
p[-2:-5]

In [ ]:
p[-2:2]

In [ ]:
len(p)

In [ ]:
p[4:len(p)-1]

In [ ]:
 p[len(p)-2:len(p)-5]
    13-2 :13-5
    11 : 8

In [ ]:
4 : 13-1
4: 12

In [ ]:
#operators
Arthemtic operators..

+ (addition), - (subtraction), * (multiplication), / (division), and % (modulo).

logical operators
identity
membership...

In [ ]:
#assignment Dtypes


Simple assignment operator ( = )
Add and equal operator ( += )
Subtract and equal operator ( -= )
Asterisk and equal operator ( *= )
Divide and equal operator ( /= )
Modulus and equal operator ( %= )
Double divide and equal operator ( //= )

In [ ]:
a,b,c 
a = input("enter ")

In [ ]:
base = int(input("enter the base of triangle::"))
height = int(input("enter the height of height::"))
area = 1/2 * base * height

print("the area of triangle", area)

In [ ]:
#if single comditio

#else two condition

#eilf for multiple condition are there....
statement

In [ ]:
#calculate interest

p = int(input("enter the principle amount::"))
r = float(input("enter the rate of interest::"))
t = int(input("enter time period in years::"))
i = (p * r * t) / 100

print(i)

print(f"interest of {p} at {r} % for {t} years is {i}".format(p,r,t,i))

In [ ]:
a = int(input("1 st angle of triangle::"))
b = int(input("2 nd angle of triangle::"))
c = int(input("3rd angle of triangle::"))

total = a+b+c

if total == 180:
    print("its triangle")
else:
    print("its not triagle")

In [ ]:
and in if.. ok sir

In [ ]:
#find even and odd number

In [25]:
num = int(input("you entered number::"))

if num%2==0:
    print("number {} is even number".format(num))
else:
    print("number {} is odd".format(num))

you entered number::5
number 5 is odd

In [ ]:
angle = int(input("Given angle:: "))

if angle ==180 :
   print("angle {} is straight angle ".format{angle})

elif angle < :
    

else:

In [ ]:
#short hand if

In [ ]:
num = int(input("type any digit::"))

print("its not multiply by 3") if (num % 3) == 1 or (num % 3) == 2 else print("its multiple by 3")

In [ ]:
#

In [ ]:
a = int(input("per::"))
b = int(input("base:"))
h = int(input("hypo:"))

print("Equilateral triangle") if (a == b and b == h)  else print("other than equi")
#elif 


# print("Equilateral triangle") if (a == b == h) print("'iso'") elif (a == b or  b == h or a==h )  else print("scale")


print("Equilateral triangle") if (a == b and b == h) else print("'iso'") if (a == b or  b == h or a==h ) else print("scale")

In [ ]:
#vowel(a,e,i,o,u)

In [ ]:
s = input("enter string")
if (a,e,i,o,u) in string:
    print("contain vowel")

In [ ]:
#right angle triangle::

a=int(input("Enter the 1st value "))
b=int(input("Enter the 2nd value "))
c=int(input("Enter the 3rd value "))
print("Right Angle Triangle") if a*a+b*b==c*c or c*c+b*b==a*a or a*a+c*c==b*b else print("Triangle is not Right Angle Triangle")

In [ ]:
#nested loop

In [ ]:
#vowel

In [ ]:
v = input("Enter character::")
count = 
print("its vowels", v) if v in a,e,i,o,u else print("its not vowel",v)

In [ ]:
vowel = 'aeiuoAEIUO'

char = input("type  char: ")

if char in vowel:
     print (" {} is vowel".format(char))
else:
     print ("There is no vowel in  ")

In [ ]:
amt = 100000
pswrd = input("enter as pswrd")

In [ ]:
Amt=10000
passw=int(input("Enter Your Password "))

if passw == 1234:

    print("Welcome")
    print("Enter 1 for check amount")
    print("Enter 2 for withdrawl amount")
    print("Enter 3 for FastCash")
    input=int(input("Enter your choice"))
    if input==1:  
        print(Amt)              
                
else:
    if passw =! 1234
    print("Enter password agin")

In [ ]:
#  
   """ elif input==2:
        
          
            input1=int(input("Enter your Amount to Withdrawl"))
            
            if input1<Amt and input1%100==0:
                
                cash=Amt-input1
                print("Dont forget to take your cash ",input)
                print("remaining amount is Amt",cash)
                """

In [ ]:
#

In [ ]:
#

In [ ]:
#Find factor of number 10(2,5,10)

In [ ]:
num = int(input("Find factor of ::"))
i = 1
while i <= num:
    
    if num % i==0:
        
        print(i)
    i = i+1

In [ ]:
t = int(input("table of::"))
i = 1

while i <= 10:
   # print(i * i)
    print(i * t)
    
    i = i+1

In [ ]:
#addition of digits from numbers

In [ ]:
num=int(input('Enter your number'))
r=0
s=0
while(num!=0 or num>0):
    r=num%10
    s=s+r
    num=num//10 
print(s)

In [ ]:
#FIND FACTORAIL OF ANY NUMBER
n=int(input("Enter the number of your choice"))
i=1
f=1
while i<=n:
    f=f*i
    i=i+1
print(f)

In [ ]:
f = int(input("enter the factorail number"))
i = 1
while i<=f:
    `

In [ ]:
#even number 1 to 10
num = 2

while num <=10:
    print(num)
    num = num + 2

In [ ]:
#first 10 odd numbers
num = 1
while num <=21:
    print(num)
    num = num +2

In [ ]:
#first 10 natural number
num =1
while num <= 10:
    print(num)
    num = num + 1

In [ ]:
#first 10 whole numbers
num = 0

while num < 10:
    print(num)
    num = num+1

In [ ]:
# write a program to print first 10 integres and their squares using while loop

num = 1

while num<=10:
    print(num,num**2)
    num = num + 1

In [ ]:
#write loop statement to print the follwing series::
#10,20,30,..............300

In [ ]:
#Sum of even number below 
num = int(input("enter the number::"))
i = 0
sum = 0
while i <= num:
    
    print(num)
    
    if num%2==0:
        sum = sum + num
        
        num = num -2
        
        #i = i+1
    
print(sum)

In [ ]:
#addition of odd numbers between series

In [ ]:
a = int(input("Enter the 1st ::"))
b = int(input("enter the 2nd number::"))

while a < b:
    if a%2 == 1: 
        print(a)
        a = a+1
    elif a > b:
        if a%2 ==1:
        print(a)
        a = a-1

In [ ]:
a = int(input("Enter the 1st ::"))
b = int(input("enter the 2nd number::"))
if a < b:

    while a<b:

In [ ]:
#nested while loop

In [ ]:
star = int(input("Number of loop::"))
c = 0
while c < star:                 #condition true
    r = 0                     #second variable initilaze
    print('*')
    while r < c:          #condition false
        print('*')        #first time skip 
        r = r+1            # r = 1
    print()           #default \n
    c = c+1           #main loop increment

In [ ]:
star = int(input("Number of loop::"))
c = 0
while c < star:                 #condition true
    r = 0                     #second variable initilaze
    print('*')
    while r < c:          #condition false
        print('*',end= '')        #first time skip 
        r = r+1            # r = 1
    print()           #default \n
    c = c+1           #main loop increment

In [ ]:
#

num = int(input("Enter the main loop count::"))
i = 1                   #initilize for main loop
while i <= num:           #condition true till 1,2,3,4,5 print statement is executed same
    print('*')
    j = 1
    while j < i:                 #second loop here 1 < 1 conditon false for firt time no execution 
        print('*',end = '')
        j = j-1
    i = i+1

In [ ]:
line=int(input("main loop::"))
i=line
while(i>=line):
    j=1
    while (j<=i):  
        print("*",end='')
        j = j+1
    print()
    i= i+1

*
**
***
****
*****

In [ ]:
n = int(input("enter the looping value::"))
i = 1
while i <= n:       #condition for looping
    #print("*")      #if condition true 
    j = 1
    while j<=i:     #condition true
        print("*",end = ' ')
        j = j+1
    print()        #pointing to new line
    i = i+1        #increment initilzer

In [ ]:
line = int(input("Enter the line you want::"))
i = 1
while i <= line:
    j = 1
    while j<=i:
        print("*",end = '')
        j = j+1              #j becomes two and condition false
  
    print()
    i = i+1

In [ ]:
num = int(input("Enter the looping value::"))
row = 1
while row < num:
    space
    while space 
    
    print()
    row =+1

In [26]:
#print number in reverse order

i = 10
while i >0:
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [27]:
i = 10
while i > 0:
    print(i,end=' ')
    i = i-1

10 9 8 7 6 5 4 3 2 1

In [30]:
#even number
n = int(input("enter the number"))
i = 1
while i <= n:
    if i%2==0:
        print(i)
    i=i+1

enter the number20
2
4
6
8
10
12
14
16
18
20